@font-face {
  font-family: "OSeongandHanEum";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OSeongandHanEum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GongGothicLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#slider {
  width: 100%;
  height: 38vw;
  position: relative;
}
#slider #slider_box {
  width: 90%;
  height: 85%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 0.15vw solid #201e1f;
}
#slider #slider_box > h4 {
  font-family: "GongGothicLight";
  font-weight: 300;
  font-size: 1vw;
  padding: 0.6vw 1vw;
  border-bottom: 0.15vw solid #201e1f;
  border-radius: 0.3vw;
  background-color: #201e1f;
  color: #fff;
}
#slider #slider_box > h4 a {
  color: #fff;
}
#slider #slider_box > h4 a:hover {
  text-decoration: underline;
}
#slider #slider_box > div {
  width: 100%;
  height: 95%;
  display: flex;
}

#book_img {
  width: 40%;
  height: 100%;
  position: relative;
}
#book_img #book_imgbox {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#book_img #book_imgbox #imgZip {
  width: 15vw;
  height: 23vw;
  position: relative;
  top: 3%;
  left: 27%;
  cursor: pointer;
}
#book_img #book_imgbox .front {
  width: 100%;
  position: absolute;
  box-shadow: 0 0 0.8vw #333;
  z-index: 1;
  transition: all 0.3s ease;
}
#book_img #book_imgbox .back {
  width: 100%;
  position: absolute;
  box-shadow: 0 0 0.8vw #333;
  transform: scaleX(-1);
  transition: all 0.3s ease;
}
#book_img #book_imgbox #imgZip:hover .front {
  z-index: 0;
  transform: scaleX(-1);
}
#book_img #book_imgbox #imgZip:hover .back {
  z-index: 1;
  transform: scaleX(1);
}
#book_img #book_imgbox p {
  font-family: "OSeongandHanEum";
  font-size: 0.8vw;
  text-align: center;
  margin-top: 6%;
}

#book_info {
  width: 60%;
  height: 100%;
  padding: 1vw 3vw;
}
#book_info h1 {
  font-family: "GongGothicLight";
  font-size: 3.5vw;
}
#book_info > p {
  font-family: "OSeongandHanEum";
  font-size: 1.2vw;
  font-weight: bold;
  padding: 0.3vw 0;
}
#book_info #book_price {
  width: 100%;
  height: 4.5vw;
}
#book_info #book_price p {
  padding: 0.1vw 0;
}
#book_info #book_price span {
  font-family: "OSeongandHanEum";
  font-size: 1vw;
}
#book_info #book_price #cost {
  padding-top: 1%;
}
#book_info #book_price #cost span {
  color: #9e9e9e;
  margin-right: 0.5vw;
}
#book_info #book_price #cost span:last-of-type {
  text-decoration: line-through;
}
#book_info #book_price #sale span {
  font-weight: bold;
  font-size: 1.5vw;
  margin-right: 1vw;
}
#book_info #book_price #sale span:last-of-type {
  font-size: 0.8vw;
  background-color: tomato;
  color: #fff;
  padding: 0.2vw 0.3vw;
  margin-left: -0.5vw;
  border-radius: 0.4vw;
}
#book_info #score {
  width: 100%;
  height: 3.5vw;
  margin-top: 0.3vw;
  position: relative;
}
#book_info #score p {
  font-family: "OSeongandHanEum";
  font-size: 0.9vw;
  font-weight: bold;
  margin: 0.3vw 0;
}
#book_info #score p span {
  display: inline-block;
  padding: 0.1vw 0.25vw;
  border: 0.05vw solid #201e1f;
  margin-left: 0.3vw;
  cursor: pointer;
}
#book_info #score .textbox {
  width: 23vw;
  height: 15vw;
  background-color: #fff;
  border: 0.1vw solid #201e1f;
  position: absolute;
  top: 50%;
  right: 41.5%;
  z-index: 1;
  padding: 0 0.8vw;
  display: none;
}
#book_info #score .textbox i {
  position: absolute;
  top: 4%;
  right: 4%;
  font-size: 1.2vw;
  padding: 0 0.3vw;
  border: 0.1vw solid #201e1f;
}
#book_info #score .textbox h4 {
  font-family: "GongGothicLight";
  font-size: 1.2vw;
  text-align: center;
  margin: 3% 0;
  border-bottom: 0.1vw solid #201e1f;
}
#book_info #score .textbox p {
  font-family: "OSeongandHanEum";
  font-size: 0.8vw;
  font-weight: 300;
  margin: 4% 0 0 0;
}
#book_info #score img {
  width: 1.2vw;
}
#book_info #score > span {
  display: inline-block;
  font-family: "OSeongandHanEum";
  font-size: 1.2vw;
  font-weight: 800;
}
#book_info #score .hashtag {
  display: inline-block;
  font-size: 0.9vw;
  color: #fff;
  padding: 0.25vw 0.3vw;
  border-radius: 0.5vw;
  margin-left: 0.3vw;
}
#book_info #score .hashtag:nth-of-type(2) {
  background-color: #fda4ba;
}
#book_info #score .hashtag:last-of-type {
  background-color: #728397;
}
#book_info #book_content {
  width: 100%;
  height: 7vw;
  padding: 1vw;
  margin-top: 0.5vw;
  border-top: 0.05vw double #201e1f;
  border-bottom: 0.05vw double #201e1f;
}
#book_info #book_content p {
  font-family: "OSeongandHanEum";
  font-size: 0.9vw;
  line-height: 1.2vw;
}
#book_info form {
  width: 100%;
  height: 25%;
}
#book_info #purchase_number {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#book_info #purchase_number .number {
  width: 50%;
  height: 3.5vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#book_info #purchase_number button {
  font-family: "OSeongandHanEum";
  font-size: 1.3vw;
  font-weight: bold;
  padding: 0.2vw 0.6vw;
  background-color: #201e1f;
  border: none;
  color: #fff;
  border-radius: 4vw;
  cursor: pointer;
}
#book_info #purchase_number #minus {
  margin-right: 1%;
}
#book_info #purchase_number #plus {
  margin-left: 1%;
}
#book_info #purchase_number input {
  width: 7vw;
  height: 2vw;
  padding: 0.2vw 0.5vw;
  text-align: center;
  font-family: "OSeongandHanEum";
  font-weight: bold;
  font-size: 1vw;
  border: 0.2vw solid #201e1f;
  border-radius: 0.4vw;
}
#book_info #purchase_number input:focus {
  outline: none;
}
#book_info #purchase_number span {
  font-family: "OSeongandHanEum";
  font-size: 1.8vw;
  font-weight: bold;
}
#book_info #btn_zip {
  width: 100%;
  height: 50%;
}
#book_info #btn_zip button, #book_info #btn_zip input {
  font-family: "OSeongandHanEum";
  font-size: 1.5vw;
  font-weight: bold;
  padding: 0.1vw 1.1vw;
  background-color: #fff;
  margin-top: 0.2vw;
  border: 0.2vw solid #201e1f;
  float: right;
  transition: all 0.5s ease;
}
#book_info #btn_zip button:hover, #book_info #btn_zip input:hover {
  color: #fff;
  box-shadow: inset 20vw 0 0 0 #201e1f;
}
#book_info #btn_zip input {
  margin-left: 2%;
}

#others {
  width: 100%;
  height: 25vw;
}
#others #others_box {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

#others_slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1.5vw;
}
#others_slide h2 {
  font-family: "GongGothicLight";
  font-size: 2.5vw;
}
#others_slide #page_btn {
  width: 100%;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#others_slide #page_btn > span {
  display: inline-block;
  width: 1.1vw;
  height: 1.1vw;
  background-color: #9e9e9e;
  margin: 0 0.3%;
  border-radius: 1vw;
}
#others_slide #page_btn > span.on {
  background-color: #201e1f;
}

#product_slide {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#product_slide i {
  font-size: 3vw;
  color: #201e1f;
  cursor: pointer;
}
#product_slide #product_list {
  width: 85%;
  height: 100%;
  overflow: hidden;
}
#product_slide #product_list #slide {
  width: 219vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#product_slide .product {
  width: 13vw;
  height: 100%;
  float: left;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#product_slide .product img {
  height: 6.5vw;
  box-shadow: 0 -0.1vw 0.4vw #888;
}
#product_slide .product h3 {
  width: 90%;
  font-family: "OSeongandHanEum";
  font-size: 1vw;
  margin: 3.5% 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#product_slide .product p {
  font-family: "OSeongandHanEum";
  font-size: 0.8vw;
  margin-bottom: 3%;
}
#product_slide .product button {
  font-family: "OSeongandHanEum";
  font-size: 0.8vw;
  border: none;
  background-color: #201e1f;
  color: #fff;
  padding: 0.2vw 0.5vw;
  border-radius: 0.4vw;
  cursor: pointer;
}

#introduce {
  width: 100%;
  height: auto;
}
#introduce #introduce_box {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.info_menu {
  width: 100%;
  height: 4vw;
  background-color: #201e1f;
  color: #fff;
  display: flex;
}
.info_menu .infoMenu {
  width: 25%;
  padding: 1.5% 0;
  font-family: "OSeongandHanEum";
  font-size: 1.3vw;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.info_menu .infoMenu.active {
  color: #201e1f;
  background-color: #fff;
  border: 0.15vw solid #201e1f;
  border-bottom: none;
}

#bookInfo_box {
  width: 100%;
  height: 410vw;
  position: relative;
}
#bookInfo_box .bookInfo {
  width: 100%;
  height: auto;
  background-color: #fff;
  position: absolute;
  border-left: 0.15vw solid #201e1f;
  border-right: 0.15vw solid #201e1f;
  border-bottom: 0.15vw solid #201e1f;
}
#bookInfo_box .bookInfo h3 {
  font-family: "GongGothicLight";
  font-size: 2.5vw;
  margin: 5% 0 3%;
}
#bookInfo_box .bookInfo h4 {
  font-family: "GongGothicLight";
  font-size: 1.6vw;
  margin-top: 8%;
}
#bookInfo_box .bookInfo p {
  font-family: "OSeongandHanEum";
  font-size: 1vw;
  margin: 1.5% 0;
  line-height: 1.3vw;
}
#bookInfo_box .bookInfo:not(:first-of-type) {
  display: none;
}

#detail {
  width: 100%;
  height: 410vw;
  position: relative;
}
#detail img {
  width: 40vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bookIntro {
  width: 100%;
  height: 150vw;
  padding: 0 5%;
}
#bookIntro .book {
  width: 100%;
  height: 59.8vw;
}
#bookIntro .book p:first-of-type {
  margin-top: 3%;
}
#bookIntro .iframe_box {
  width: 100%;
  height: 35vw;
  position: relative;
}
#bookIntro iframe {
  width: 65%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#bookIntro .writer {
  width: 100%;
  height: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.05vw solid #201e1f;
}
#bookIntro .writer .profile {
  width: 20%;
  height: 100%;
  margin-top: 7%;
}
#bookIntro .writer img {
  width: 80%;
  margin: 8% 0 0 10%;
}
#bookIntro .writer .writerText {
  width: 80%;
  height: 100%;
  margin-top: 7%;
}
#bookIntro .recommended {
  width: 100%;
  height: 58vw;
  border-top: 0.05vw solid #201e1f;
}
#bookIntro .recommended .bold {
  font-weight: bold;
  font-size: 1.2vw;
}
#bookIntro .recommended .sources {
  font-size: 0.85vw;
  font-weight: bold;
  text-align: right;
}

#basicsInfo {
  width: 100%;
  height: 120vw;
  padding: 0 5%;
}
#basicsInfo .basics {
  width: 100%;
  height: 20vw;
  border-bottom: 0.05vw solid #201e1f;
}
#basicsInfo .basics h4 {
  margin-top: 3%;
}
#basicsInfo .basics span {
  margin-right: 1%;
}

#delivery {
  width: 100%;
  height: 65vw;
  padding: 0 5%;
}
#delivery table {
  width: 100%;
  height: 55vw;
  border: 0.15vw solid #201e1f;
  margin-top: 3%;
}
#delivery table tr {
  width: 100%;
  border-bottom: 0.05vw solid #201e1f;
}
#delivery table th {
  width: 25%;
  height: 20%;
  background-color: #201e1f;
  font-family: "GongGothicLight";
  font-size: 1.2vw;
  color: #fff;
}
#delivery table td {
  width: 60%;
  height: 20%;
  border: 0.05vw solid #201e1f;
  font-family: "OSeongandHanEum";
  font-size: 1vw;
  padding: 0 3%;
}
#delivery table li {
  list-style-type: square;
  margin: 1% 0;
}
#delivery table .decoNone {
  list-style: none;
  margin-top: 3%;
}

#distribution {
  width: 100%;
  height: 30vw;
  background-color: #201e1f;
  margin-top: 5%;
}
#distribution #distribution_box {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

#purchaser {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#purchaser h3 {
  font-family: "GongGothicLight";
  text-align: center;
  font-size: 2.5vw;
  color: #fff;
  margin-top: 0.5vw;
}
#purchaser #buyers {
  width: 100%;
  height: 85%;
  display: flex;
}
#purchaser .female_age {
  width: 45%;
  height: 100%;
}
#purchaser .female_age .female {
  width: 100%;
  height: 16.6666666667%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#purchaser .female_age .female span {
  font-family: "OSeongandHanEum";
  font-size: 0.8vw;
  color: #fff;
  margin-right: 0.8vw;
}
#purchaser .female_age .female .background {
  width: 65%;
  height: 35%;
  background-color: #fff;
  position: relative;
}
#purchaser .female_age .female .graph {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fda4ba;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
}
#purchaser .female_age .female .fe10 {
  width: 3.4%;
}
#purchaser .female_age .female .fe20 {
  width: 33%;
}
#purchaser .female_age .female .fe30 {
  width: 24.2%;
}
#purchaser .female_age .female .fe40 {
  width: 14.6%;
}
#purchaser .female_age .female .fe50 {
  width: 8.4%;
}
#purchaser .female_age .female .fe60 {
  width: 0.5%;
}
#purchaser .age {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#purchaser .age span {
  font-family: "OSeongandHanEum";
  font-size: 1.2vw;
  color: #fff;
}
#purchaser .male_age {
  width: 45%;
  height: 100%;
}
#purchaser .male_age .male {
  width: 100%;
  height: 16.6666666667%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#purchaser .male_age .male span {
  font-family: "OSeongandHanEum";
  font-size: 0.8vw;
  color: #fff;
  margin-left: 0.8vw;
}
#purchaser .male_age .male .background {
  width: 65%;
  height: 35%;
  background-color: #fff;
  position: relative;
}
#purchaser .male_age .male .graph {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #728397;
  transform-origin: 0 100%;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
}
#purchaser .male_age .male .male10 {
  width: 0.7%;
}
#purchaser .male_age .male .male20 {
  width: 5.4%;
}
#purchaser .male_age .male .male30 {
  width: 5.2%;
}
#purchaser .male_age .male .male40 {
  width: 2.9%;
}
#purchaser .male_age .male .male50 {
  width: 1.4%;
}
#purchaser .male_age .male .male60 {
  width: 0.2%;
}

#ratings {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#ratings h3 {
  font-family: "GongGothicLight";
  text-align: center;
  font-size: 2.5vw;
  color: #fff;
  margin-top: 2%;
}
#ratings .avgStar {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0 0;
}
#ratings .avgStar .stars {
  width: 28%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#ratings .avgStar .stars img {
  width: 2vw;
  margin: 0 0.3vw 0.3vw 0;
}
#ratings .avgStar span {
  font-family: "GongGothicLight";
  font-size: 2vw;
  color: #f5ac1b;
}
#ratings .graph_box {
  width: 100%;
  height: 70%;
}
#ratings .graph_box .ratings {
  width: 100%;
  height: 18.1818181818%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#ratings .graph_box .ratings .star {
  width: 9vw;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 8vw;
}
#ratings .graph_box .ratings .star img {
  width: 1.5vw;
}
#ratings .graph_box .ratings .background {
  width: 15vw;
  height: 35%;
  background-color: #fff;
  position: relative;
  margin: 0 1.5vw;
}
#ratings .graph_box .ratings .background .graphs {
  height: 100%;
  background-color: #f5ac1b;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 100%;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
}
#ratings .graph_box .ratings .background .star5 {
  width: 80%;
}
#ratings .graph_box .ratings .background .star4 {
  width: 0%;
}
#ratings .graph_box .ratings .background .star3 {
  width: 20%;
}
#ratings .graph_box .ratings .background .star2 {
  width: 0%;
}
#ratings .graph_box .ratings .background .star1 {
  width: 0%;
}
#ratings .graph_box .ratings span {
  font-family: "OSeongandHanEum";
  font-size: 1vw;
  color: #fff;
}

#comments {
  width: 100%;
  height: 12.5vw;
  margin-top: 5%;
}
#comments #comments_box {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border-bottom: 0.15vw solid #201e1f;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
#comments #comments_box h3 {
  font-family: "GongGothicLight";
  font-size: 2.5vw;
}

#comment_input {
  width: 80%;
  height: 10vw;
}
#comment_input .review_star {
  width: 74%;
  height: 25%;
  margin: 1% auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#comment_input .review_star img {
  width: 1.5vw;
  cursor: pointer;
}
#comment_input .review_star span {
  font-family: "OSeongandHanEum";
  font-weight: bold;
  font-size: 1vw;
}
#comment_input .review_star span i {
  border: 0.05vw solid #201e1f;
  padding: 0.15vw 0.25vw;
  cursor: pointer;
}
#comment_input .review_star .reviewStar {
  width: 20%;
  height: 60%;
  position: relative;
}
#comment_input .review_star .reviewStar .blank {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#comment_input .review_star .reviewStar .fill {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#comment_input .review_star .reviewStar .fill img {
  opacity: 0;
}
#comment_input .review_star .textbox {
  width: 25vw;
  height: 24vw;
  background-color: #fff;
  border: 0.1vw solid #201e1f;
  position: absolute;
  top: 85%;
  right: 0%;
  padding: 0 0.8vw;
  display: none;
}
#comment_input .review_star .textbox i {
  position: absolute;
  top: 2.5%;
  right: 3%;
  font-size: 1.2vw;
  border: 0.1vw solid #201e1f;
  padding: 0 0.3vw;
}
#comment_input .review_star .textbox h4 {
  font-family: "GongGothicLight";
  font-size: 1.2vw;
  text-align: center;
  padding-bottom: 3%;
  margin: 5% 0;
  border-bottom: 0.1vw solid #201e1f;
}
#comment_input .review_star .textbox p {
  font-family: "OSeongandHanEum";
  font-size: 0.8vw;
  margin-bottom: 3%;
  padding: 0 0.2vw;
}
#comment_input .review_star .textbox ol {
  margin-top: 5%;
  padding-left: 1vw;
}
#comment_input .review_star .textbox li {
  list-style: decimal;
  font-family: "OSeongandHanEum";
  font-size: 0.8vw;
  margin-bottom: 3%;
  padding: 0 0.2vw;
}
#comment_input .reviewInput {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#comment_input .reviewInput textarea {
  width: 80%;
  height: 80%;
  border: 0.15vw solid #201e1f;
  margin-right: 0.2%;
  font-family: "OSeongandHanEum";
  font-size: 1vw;
  padding: 0.5vw;
}
#comment_input .reviewInput textarea:focus {
  outline: none;
}
#comment_input .reviewInput input[type=submit] {
  width: 12%;
  height: 80%;
  font-family: "OSeongandHanEum";
  font-size: 1vw;
  background-color: #201e1f;
  color: #fff;
  border: none;
  border-radius: 0;
  margin-left: 0.2%;
  cursor: pointer;
}

#reviews {
  width: 100%;
  height: auto;
  padding-bottom: 3vw;
  margin-top: 3%;
}
#reviews #reviews_box {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
#reviews .review {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1vw 0;
  border-bottom: 0.1vw solid #201e1f;
}
#reviews .review:first-of-type {
  border-top: 0.1vw solid #201e1f;
}
#reviews .review .starScore {
  width: 13%;
  height: 34%;
}
#reviews .review .starScore img {
  width: 1.5vw;
}
#reviews .review .reviewText {
  width: 70%;
  height: 100%;
}
#reviews .review .reviewText p {
  width: 100%;
  height: auto;
  font-family: "OSeongandHanEum";
  font-size: 0.9vw;
}
#reviews .review .reviewText .netizen {
  width: 100%;
  height: 3.6vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#reviews .review .reviewText .netizen .netizenInfo {
  width: 20%;
  height: 50%;
}
#reviews .review .reviewText .netizen .netizenInfo span {
  font-family: "OSeongandHanEum";
  font-size: 0.8vw;
  margin-right: 3%;
}
#reviews .review .reviewText .netizen .thumb {
  width: 6%;
  height: 80%;
  position: relative;
}
#reviews .review .reviewText .netizen .thumb .fa-thumbs-up {
  position: absolute;
  font-size: 1.5vw;
  background-color: #201e1f;
  padding: 0.7vw;
  color: #fff;
  border-radius: 6vw;
}
#reviews .review .reviewText .netizen .thumb .fa-regular {
  display: block;
}
#reviews .review .reviewText .netizen .thumb .fa-solid {
  display: none;
}