@font-face {
  font-family: "OSeongandHanEum";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OSeongandHanEum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GongGothicLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#slider {
  width: 100%;
  height: 38vw;
  position: relative;
}
#slider #slider_box {
  width: 90%;
  height: 85%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 0.15vw solid #201e1f;
}
#slider #slider_box h4 {
  font-family: "GongGothicLight";
  font-weight: 300;
  font-size: 1vw;
  padding: 0.6vw 0;
  border-bottom: 0.15vw solid #201e1f;
}
#slider #slider_box h4 a:hover {
  text-decoration: underline;
}
#slider #slider_box > div {
  width: 100%;
  height: 95%;
  display: flex;
}

#book_img {
  width: 40%;
  height: 100%;
  position: relative;
}
#book_img #book_imgbox {
  width: 90%;
  height: 90%;
  border: 0.15vw solid #201e1f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#book_img #book_imgbox > img {
  width: 15vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0.8vw #333;
}

#book_info {
  width: 60%;
  height: 100%;
  padding: 1vw 3vw;
}
#book_info h1 {
  font-family: "GongGothicLight";
  font-size: 3.5vw;
}
#book_info > p {
  font-family: "OSeongandHanEum";
  font-size: 1.2vw;
  font-weight: bold;
  padding: 0.3vw 0;
}
#book_info #book_price {
  width: 100%;
  height: 4.5vw;
}
#book_info #book_price p {
  padding: 0.1vw 0;
}
#book_info #book_price span {
  font-family: "OSeongandHanEum";
  font-size: 1vw;
}
#book_info #book_price #cost {
  padding-top: 1%;
}
#book_info #book_price #cost span {
  color: #9e9e9e;
  margin-right: 0.5vw;
}
#book_info #book_price #cost span:last-of-type {
  text-decoration: line-through;
}
#book_info #book_price #sale span {
  font-weight: bold;
  font-size: 1.5vw;
  margin-right: 1vw;
}
#book_info #book_price #sale span:last-of-type {
  font-size: 0.8vw;
  background-color: tomato;
  color: #fff;
  padding: 0.2vw 0.3vw;
  margin-left: -0.5vw;
  border-radius: 0.4vw;
}
#book_info #score {
  width: 100%;
  height: 3.5vw;
  margin-top: 0.3vw;
}
#book_info #score p {
  font-family: "OSeongandHanEum";
  font-size: 0.9vw;
  font-weight: bold;
  margin: 0.3vw 0;
}
#book_info #score p span {
  display: inline-block;
  padding: 0.1vw 0.25vw;
  border: 0.05vw solid #201e1f;
  margin-left: 0.3vw;
  cursor: pointer;
}
#book_info #score img {
  width: 1.2vw;
}
#book_info #score > span {
  display: inline-block;
  font-family: "OSeongandHanEum";
  font-size: 1.2vw;
  font-weight: 800;
}
#book_info #score .hashtag {
  display: inline-block;
  font-size: 0.9vw;
  color: #fff;
  padding: 0.25vw 0.3vw;
  border-radius: 0.5vw;
  float: right;
  margin-left: 0.3vw;
}
#book_info #score .hashtag:nth-of-type(2) {
  background-color: #fda4ba;
}
#book_info #score .hashtag:last-of-type {
  background-color: #728397;
}
#book_info #book_content {
  width: 100%;
  height: 7vw;
  padding: 1vw;
  margin-top: 0.5vw;
  border-top: 0.05vw double #201e1f;
  border-bottom: 0.05vw double #201e1f;
}
#book_info #book_content p {
  font-family: "OSeongandHanEum";
  font-size: 0.9vw;
  line-height: 1.2vw;
}
#book_info form {
  width: 100%;
  height: 25%;
}
#book_info #purchase_number {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#book_info #purchase_number label {
  width: 50%;
  height: 3.5vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#book_info #purchase_number button {
  font-family: "OSeongandHanEum";
  font-size: 1.3vw;
  font-weight: bold;
  padding: 0.2vw 0.6vw;
  background-color: #201e1f;
  color: #fff;
  border-radius: 4vw;
  cursor: pointer;
}
#book_info #purchase_number #minus {
  margin-right: 1%;
}
#book_info #purchase_number #plus {
  margin-left: 1%;
}
#book_info #purchase_number input {
  width: 7vw;
  height: 2vw;
  padding: 0.2vw 0.5vw;
  text-align: center;
  font-family: "OSeongandHanEum";
  font-weight: bold;
  font-size: 1vw;
  border: 0.2vw solid #201e1f;
  border-radius: 0.4vw;
}
#book_info #purchase_number input:focus {
  outline: none;
}
#book_info #purchase_number span {
  font-family: "OSeongandHanEum";
  font-size: 1.8vw;
  font-weight: bold;
}
#book_info #btn_zip {
  width: 100%;
  height: 50%;
}
#book_info #btn_zip button, #book_info #btn_zip input {
  font-family: "OSeongandHanEum";
  font-size: 1.5vw;
  font-weight: bold;
  padding: 0.1vw 1.1vw;
  background-color: #fff;
  margin-top: 0.2vw;
  border: 0.2vw solid #201e1f;
  float: right;
  transition: all 0.5s ease;
}
#book_info #btn_zip button:hover, #book_info #btn_zip input:hover {
  color: #fff;
  box-shadow: inset 20vw 0 0 0 #201e1f;
}
#book_info #btn_zip input {
  margin-left: 2%;
}

#others {
  width: 100%;
  height: 25vw;
}
#others #others_box {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

#others_slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1.5vw;
}
#others_slide h2 {
  font-family: "GongGothicLight";
  font-size: 2.5vw;
}
#others_slide #page_btn {
  width: 100%;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#others_slide #page_btn > span {
  display: inline-block;
  width: 1.1vw;
  height: 1.1vw;
  background-color: #9e9e9e;
  margin: 0 0.3%;
  border-radius: 1vw;
}
#others_slide #page_btn > span.on {
  background-color: #201e1f;
}

#product_slide {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#product_slide i {
  font-size: 3vw;
  font-size: #201e1f;
  cursor: pointer;
}
#product_slide #product_list {
  width: 85%;
  height: 100%;
  overflow: hidden;
}
#product_slide #product_list #slide {
  width: 219vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#product_slide .product {
  width: 13vw;
  height: 100%;
  float: left;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#product_slide .product img {
  height: 6.5vw;
  box-shadow: 0 -0.1vw 0.4vw #888;
}
#product_slide .product h3 {
  width: 90%;
  font-family: "OSeongandHanEum";
  font-size: 1vw;
  margin: 3.5% 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#product_slide .product p {
  font-family: "OSeongandHanEum";
  font-size: 0.8vw;
  margin-bottom: 3%;
}
#product_slide .product button {
  font-family: "OSeongandHanEum";
  font-size: 0.8vw;
  border: none;
  background-color: #201e1f;
  color: #fff;
  padding: 0.2vw 0.5vw;
  border-radius: 0.4vw;
}