@font-face {
    font-family: 'OSeongandHanEum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OSeongandHanEum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// 포천오성과한음체

@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// 이사만루 Light



//mixins
@mixin titleFont {
    font-family: 'GongGothicLight';
    font-size: 2.5vw;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin: 3% 0;
}

@mixin btnDesign {
    background-color: #fff;
    font-family: 'OSeongandHanEum';
    font-size: 1vw; 
    font-weight: bold;
    color: #fff;
    background: none;
    padding: 0.3vw 1.2vw;
    border: 0.15vw solid #fff;
    transition: 0.3s;
    cursor: pointer;
}

@mixin cloumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


//vaiables
$yellow: #f5ac1b;
$blue: #728397;
$pink: #fda4ba;
$mainFont: 'OSeongandHanEum';
$titleFont: 'GongGothicLight';




//slider
#slider{
        width: 100%; height: 50.5vw;
    }

#slider_box{
    width: 100%; height: 100%;
    margin: 0 auto;
    display: flex;

    > div{
        width: calc(100% / 3);
        height: 100%;
        position: relative;
    }
} 

.box{
    width: 100%; height: 100%;
}

#new_book{
    
    font-family: $mainFont;


    img{
        width: 7.5vw;
    }
    
    h2{
        @include titleFont;
    }

    .box{
        background: url("../img/index_img/newbook_back.png");
        background-size: 100% 100%; 
        @include cloumnCenter;
        background-color: $yellow;
    }

    p{
        font-size: 1.1vw;
        text-align: center;
        padding-bottom: 3%;
        color: #fff;
    }

    button{
        @include btnDesign;
    }

    button:hover{
        box-shadow: inset 10vw 0 0 0 #fff;
        color: $yellow;
    }
}

#best_seller{
    
    font-family: $mainFont;

    img{
        width: 7.5vw;
    }

    h2{
        @include titleFont;
    }

    .box{
        background: url("../img/index_img/best_seller_back.png");
        background-size: 100% 100%; 
        @include cloumnCenter;
        background-color: $blue;
    }

    p{
        font-size: 1.1vw;
        text-align: center;
        padding-bottom: 3%;
        color: #fff;
    }

    button{
        @include btnDesign;
    }

    button:hover{
        box-shadow: inset 10vw 0 0 0 #fff;
        color: $blue;
    }
}

#recommendation{
   
    font-family: $mainFont;

    img{
        width: 7.5vw;
    }

    h2{
        @include titleFont;
    }

    .box{ 
        background: url("../img/index_img/recommendation_back.png");
        background-size: 100% 100%; 
        @include cloumnCenter;
        background-color: $pink;
    }

    p{
        font-size: 1.1vw;
        text-align: center;
        padding-bottom: 3%;
        color: #fff;
    }

    button{
        @include btnDesign;
    }

    button:hover{
        box-shadow: inset 10vw 0 0 0 #fff;
        color: $pink;
    }
}



//신간 소개
#newBook{
    width: 100%;
    height: 50vw;
}

#newBook_box{
    width: 90%; height: 45vw;
    margin: 5vw auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2{
        font-family: $titleFont;
        font-size: 3vw;
    }
}

.slide{
    width: 100%; height: 40%;
    position: relative;
    overflow: hidden;

    > h3{
        font-family: $mainFont;
        font-size: 1.2vw;
    }

    > button{
        font-family: $mainFont;
        font-size: 0.9vw;
        font-weight: bold;
        border: none;
        background: none;
        position: absolute;
        bottom: 0; right: 0;
        padding: 0.15vw 0.2vw;
        cursor: pointer;

        .fa-arrow-right-long{
            color: $yellow;
        }   
    }

    > button:hover .fa-arrow-right-long{
        animation: .3s alternate ease infinite bounceRight;
    }
}

@keyframes bounceRight{
    from{transform: translateX(20%);}
    to{transform: translateX(0);}
}

.slide_img{
    width: 122vw; height: 70%;
    position: absolute;
    top: 20%; left: 50%;
    transform: translateX(-50%);
}

.book{
    width: 14vw; height: 10.5vw;
    float: left;
    margin: 0 0.51%;
    position: relative;
    text-align: center;

    .background{
        width: 75%; height: 65%;
        background-color: #e6ded3;
        position: absolute;
        bottom: 30%; left: 50%;
        z-index: -1;
        transform: translateX(-50%);
        border-radius: 7vw 7vw 0.5vw 0.5vw;
    }

    img{
        height: 7.3vw;
        box-shadow: 0 -0.1vw 0.4vw #888;
    }

    p, h3{
        font-family: $mainFont;
    }

    h3{
        font-size: 1vw;
        margin: 1% 0;
    }

    p{
        font-size: 0.8vw;
    }

    button{
        width: 5.7vw; height: 1.25vw;
        background-color: $yellow;
        border-radius: 0.3vw;
        position: absolute;
        bottom: -12%; left: 50%;
        transform: translateX(-50%);
        font-family: $mainFont;
        font-size: 0.7vw;
        color: #fff;
        border: none;
        cursor: pointer;
    }
}




//베스트 셀러
#bestSeller{
    width: 100%; height: 97vw;
}

#bestSeller_box{
    width: 90%; height: 100%;
    margin: 0 auto;
    position: relative;

    > h2{
        font-family: $titleFont;
        font-size: 3vw;
    }

    p{
        padding: 1% 0;

        > span{
            font-family: $mainFont;
            font-size: 1.3vw;
            font-weight: bold;
            margin: 1% 2% 1% 0;
            padding: 0.1vw 0.3vw;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
        }
    
        > span:hover{
            box-shadow: inset 10vw 0 0 0 $blue;
            color: #fff;
        }
    }

}

#rank_list{
    width: 100%; height: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ranking{
    width: 20vw; height: 82vw; 

    > h3{
        font-family: $mainFont;
        font-size: 1.5vw;
        text-align: center;
        background-color: $blue;
        padding: 3% 0;
        color: #fff;
    }

    .no1{
        width: 100%; height: 15vw;
        text-align: center;
        border-left: 0.05vw solid $blue;
        border-right: 0.05vw solid $blue;
        position: relative;
        cursor: pointer;


        > img:not(img[alt="no1"]){
            width: 6vw;
            box-shadow: 0 -0.1vw 0.4vw #888;
            margin-top: 8%;
        }

        img[alt="no1"]{
            width: 4vw;
            position: absolute;
            top: 0; left: 24.5%;
        }

        > h3{
            font-family: $mainFont;
            font-size: 1vw;
            margin: 2% 0;
        }

        > p{
            font-family: $mainFont;
            font-size: 0.8vw;
        }
    }
}

.rank{
    width: 100%; height: 10vw;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $blue;

    img{
        height: 82%;
        margin-left: 3.5%;
        box-shadow: 0 0.1vw 0.4vw #111;
    }

    .rankText{
        width: 60%; height: 85%;
        margin-right: 3.5%;
        padding: 5%;
        background-color: #fff;
        position: relative;

        > span{
            display: inline-block;
            font-family: $titleFont;
            font-weight: bold;
            font-size: 1.2vw;
            color: #fff;
            background-color: $blue;
            padding: 0.1vw 0.3vw;
            margin-bottom: 2%;
        }

        h3{
            font-family: $mainFont;
            font-size: 1vw;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        p{
            font-family: $mainFont;
            font-size: 0.8vw;
        }

        button{
            font-family: $mainFont;
            font-weight: bold;
            font-size: 0.7vw;
            background: none;
            border: none;
            position: absolute;
            bottom: 7%; right: 7%;
            cursor: pointer;

            .fa-arrow-right-long{
                color: $blue;
                font-size: 0.7vw;
            }
        }

        button:hover i{
            animation: .3s alternate ease infinite bounceRight;
        }
    }
}

.scale{
    transform: scale(1.15);
}





//추천 도서

#recommend{
    width: 100%; height: 50vw;
}

#recommend_box{
    width: 90%; height: 100%;
    margin: 0 auto;

    > h2{
        font-family: $titleFont;
        font-size: 3vw;
    }

}

#recommend_content{
    width: 100%; height: 75%;
    display: flex;
    justify-content: space-between;

    #recommend_menu{
        width: 16%; height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        > span{
            font-family: $mainFont;
            font-size: 1.3vw;
            font-weight: bold;
            margin-bottom: 10%;
            padding: 0.2vw 0.5vw;
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            &:first-of-type{
                margin-top: 10%;
            }
        }

        > span:hover{
            box-shadow: inset 13vw 0 0 0 $pink;
            color: #fff;
        }
    }
}

.bgColor{
    background-color: $pink;
    color: #fff;
}

#fade_box{
    width: 85%; height: 100%;
    position: relative;

    .fadeBox{
        width: 100%; height: 100%;
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background-color: #fff;

        &:not(:first-of-type){
            display: none;
        }
    }

    .content{
        width: 14vw; height: 17vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 1%;
        text-align: center;
        background-color: $pink;
        border-radius: 0.3vw;

        img{
            height: 7.5vw;
            margin-bottom: 5%;
            box-shadow: 0 0.1vw 0.4vw #111;
        }
    }

    .contentText{
        width: 87%; height: 40%;
        padding: 0 5%;
        background-color: #fff;
        margin-top: 3%;
        position: relative;
        border-radius: 0.3vw;

        h3{
            width: 100%;
            font-family: $mainFont;
            font-size: 1vw;
            margin: 8% 0 3%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        p{
            font-family: $mainFont;
            font-size: 0.8vw;
            margin-bottom: 2%;
        }

        button{
            position: absolute;
            bottom: 7%; right: 5%;
            font-family: $mainFont;
            font-size: 0.7vw;
            font-weight: bold;
            background: none;
            border: none;
            cursor: pointer;

            .fa-arrow-right-long{
                color: $pink;
                font-size: 0.7vw;
            }
        }

        button:hover i{
            animation: .3s alternate ease infinite bounceRight;
        }
    }
}


