@font-face {
    font-family: 'OSeongandHanEum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OSeongandHanEum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// 포천오성과한음체

@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// 이사만루 Light


//mixins


//vaiables
$yellow: #f5ac1b;
$blue: #728397;
$pink: #fda4ba;
$fontColor: #201e1f;
$mainFont: 'OSeongandHanEum';
$titleFont: 'GongGothicLight';


#slider{
    width: 100%; height: 38vw;
    position: relative;
    
    
    #slider_box{
        width: 90%; height: 85%;
        position: absolute;
        bottom: 0; left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 0.15vw solid $fontColor;

        > h4{
            font-family: $titleFont;
            font-weight: 300;
            font-size: 1vw;
            padding: 0.6vw 1vw; 
            border-bottom: 0.15vw solid $fontColor;
            border-radius: 0.3vw;
            background-color: $fontColor;
            color: #fff;

            a{
                color: #fff;
            }
            
            a:hover{
                text-decoration: underline;
            }
        }

        > div{
            width: 100%; height: 95%;
            display: flex;
        }
    }
}

#book_img{
    width: 40%; height: 100%;
    position: relative;

    #book_imgbox{
        width: 90%; height: 90%;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);

        #imgZip{
            width: 15vw; height: 23vw;
            position: relative;
            top: 3%; left: 27%;
            cursor: pointer;
        }

        .front{
            width: 100%;
            position: absolute;
            box-shadow: 0 0 0.8vw #333;
            z-index: 1;
            transition: all 0.3s ease;
        }

        .back{
            width: 100%;
            position: absolute;
            box-shadow: 0 0 0.8vw #333;
            transform: scaleX(-1);
            transition: all 0.3s ease;
        }

        #imgZip:hover .front{
            z-index: 0;
            transform: scaleX(-1);
        }

        #imgZip:hover .back{
            z-index: 1;
            transform: scaleX(1);
        }

        p{
            font-family: $mainFont;
            font-size: 0.8vw;
            text-align: center;
            margin-top: 6%;
        }
    }
}

#book_info{
    width: 60%; height: 100%;
    padding: 1vw 3vw;

    h1{
        font-family: $titleFont;
        font-size: 3.5vw;
    }

    > p{
        font-family: $mainFont;
        font-size: 1.2vw;
        font-weight: bold;
        padding: 0.3vw 0;
    }

    #book_price{
        width: 100%; height: 4.5vw;

        p{
            padding: 0.1vw 0;
        }

        span{
            font-family: $mainFont;
            font-size: 1vw;
        }

        #cost{
            padding-top: 1%;
            
            span{
                color: #9e9e9e;
                margin-right: 0.5vw;

                &:last-of-type{
                    text-decoration: line-through;
                }
            }   

        }

        #sale{
            span{
                font-weight: bold;
                font-size: 1.5vw;
                margin-right: 1vw;

                &:last-of-type{
                    font-size: 0.8vw;
                    background-color: tomato;
                    color: #fff;
                    padding: 0.2vw 0.3vw;
                    margin-left: -0.5vw;
                    border-radius: 0.4vw;
                }
            }
        }
    }

    #score{
        width: 100%; height: 3.5vw;
        margin-top: 0.3vw; 
        position: relative;

        p{
            font-family: $mainFont;
            font-size: 0.9vw;
            font-weight: bold;
            margin: 0.3vw 0;
           
            span{
                display: inline-block;
                padding: 0.1vw 0.25vw;
                border: 0.05vw solid $fontColor;
                margin-left: 0.3vw;
                cursor: pointer;
                
            }
        }

        .textbox{
            width: 23vw; height: 15vw;
            background-color: #fff;
            border: 0.1vw solid $fontColor;
            position: absolute;
            top: 50%; right: 41.5%;
            z-index: 1;
            padding: 0 0.8vw;
            display: none;

            i{
                position: absolute;
                top: 4%; right: 4%;
                font-size: 1.2vw;
                padding: 0 0.3vw;
                border: 0.1vw solid $fontColor;
            }

            h4{
                font-family: $titleFont;
                font-size: 1.2vw;
                text-align: center;
                margin: 3% 0;
                border-bottom: 0.1vw solid $fontColor;
            }
            
            p{
                font-family: $mainFont;
                font-size: 0.8vw;
                font-weight: 300;
                margin: 4% 0 0 0;
            }
        }

        img{
            width: 1.2vw;
        }

        >span{
            display: inline-block;
            font-family: $mainFont;
            font-size: 1.2vw;
            font-weight: 800;
        }

        .hashtag{
            display: inline-block;
            font-size: 0.9vw;
            color: #fff;
            padding: 0.25vw 0.3vw;
            border-radius: 0.5vw;
            margin-left: 0.3vw;
        }

        .hashtag:nth-of-type(2){
            background-color: $pink;
        }

        .hashtag:last-of-type{
            background-color: $blue;
        }
    }

    #book_content{
        width: 100%; height: 7vw;
        padding: 1vw;
        margin-top: 0.5vw;
        border-top: 0.05vw double $fontColor;
        border-bottom: 0.05vw double $fontColor;

        p{
            font-family: $mainFont;
            font-size: 0.9vw;
            line-height: 1.2vw;
        }
    }

    form{
        width: 100%; height: 25%;
    }

    #purchase_number{
        width: 100%; height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        label{
            width: 50%; height: 3.5vw;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        button{
            font-family: $mainFont;
            font-size: 1.3vw;
            font-weight: bold;
            padding: 0.2vw 0.6vw;
            background-color: $fontColor;
            border: none;
            color: #fff;
            border-radius: 4vw;
            cursor: pointer;
        }

        #minus{
            margin-right: 1%;
        }

        #plus{
            margin-left: 1%;
        }

        input{
            width: 7vw; height: 2vw;
            padding: 0.2vw 0.5vw; 
            text-align: center;
            font-family: $mainFont;
            font-weight: bold;
            font-size: 1vw;
            border: 0.2vw solid $fontColor;
            border-radius: 0.4vw;

            &:focus{
                outline: none;
            }
        }

        span{
            font-family: $mainFont;
            font-size: 1.8vw;
            font-weight: bold;
        }
    }

    #btn_zip{
        width: 100%; height: 50%;

        button, input{
            font-family: $mainFont;
            font-size: 1.5vw;
            font-weight: bold;
            padding: 0.1vw 1.1vw;
            background-color: #fff;
            margin-top: 0.2vw;
            border: 0.2vw solid $fontColor;
            float: right;
            transition: all 0.5s ease;
        }

        button:hover, input:hover{
            color: #fff;
            box-shadow: inset 20vw 0 0 0 $fontColor;
        }

        input{
            margin-left: 2%;
        }
    }

}



//others
#others{
    width: 100%; height: 25vw;

    #others_box{
        width: 90%; height: 100%;
        margin: 0 auto;
    }
}

#others_slide{
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1.5vw;

    h2{
        font-family: $titleFont;
        font-size: 2.5vw;
    }

    #page_btn{
        width: 100%; height: 2vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        > span{
            display: inline-block;
            width: 1.1vw; height: 1.1vw;
            background-color: #9e9e9e;
            margin: 0 0.3%;
            border-radius: 1vw;

            &.on{
                background-color: $fontColor;
            }
        }
    }
}

#product_slide{
    width: 100%; height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    i{
        font-size: 3vw;
        font-size: $fontColor;
        cursor: pointer;
    }

    #product_list{
        width: 85%; height: 100%;
        overflow: hidden;

        #slide{
            width: 219vw; height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

    .product{
        width: 13vw; height: 100%;
        float: left;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            height: 6.5vw;
            box-shadow: 0 -0.1vw 0.4vw #888;
        }

        h3{
            width: 90%;
            font-family: $mainFont;
            font-size: 1vw;
            margin: 3.5% 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        p{
            font-family: $mainFont;
            font-size: 0.8vw;
            margin-bottom: 3%;
        }

        button{
            font-family: $mainFont;
            font-size: 0.8vw;
            border: none;
            background-color: $fontColor;
            color: #fff;
            padding: 0.2vw 0.5vw;
            border-radius: 0.4vw;
            cursor: pointer;
        }
    }
}



// introduce
#introduce{
    width: 100%; height: auto;

    #introduce_box{
        width: 90%; height: auto;
        margin: 0 auto;
    }
}

.info_menu{
    width: 100%; height: 4vw;
    background-color: $fontColor;
    color: #fff;
    display: flex;

    .infoMenu{
        width: calc(100% / 4);
        padding: 1.5% 0;
        font-family: $mainFont;
        font-size: 1.3vw;
        color: #fff;
        font-weight: bold;
        text-align: center;
        cursor: pointer;

        &.active{
            color: $fontColor;
            background-color: #fff;
            border: 0.15vw solid $fontColor;
            border-bottom: none;
        }
    }
}

#bookInfo_box{
    width: 100%; height: 410vw;
    position: relative;
    
    .bookInfo{
        width: 100%; height: auto;
        background-color: #fff;
        position: absolute;
        border-left: 0.15vw solid $fontColor;
        border-right: 0.15vw solid $fontColor;
        border-bottom: 0.15vw solid $fontColor;

        h3{
            font-family: $titleFont;
            font-size: 2.5vw;
            margin: 5% 0 3%;
        }

        h4{
            font-family: $titleFont;
            font-size: 1.6vw;
            margin-top: 8%;
        }
    
        p{
            font-family: $mainFont;
            font-size: 1vw;
            margin: 1.5% 0;
            line-height: 1.3vw;
        }

        &:not(:first-of-type){
            display: none;
        }
    }
}

#detail{
    width: 100%; height: 410vw;
    position: relative;

    img{
        width: 40vw;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }

}

#bookIntro{
    width: 100%; height: 150vw;
    padding: 0 5%;

    .book{
        width: 100%; height: 59.8vw;

        p:first-of-type{
            margin-top: 3%;
        }
    }

    .iframe_box{
        width: 100%; height: 35vw;
        position: relative;
    }

    iframe{
       width: 65%; height: 100%;
       position: absolute;
       top: 50%; left: 50%;
       transform: translate(-50%, -50%);
    }

    .writer{
        width: 100%; height: 30vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 0.05vw solid $fontColor;

        .profile{
            width: 20%; height: 100%;
            margin-top: 7%;
        }

        img{
            width: 80%;
            margin: 8% 0 0 10%;
        }

        .writerText{
            width: 80%; height: 100%;
            margin-top: 7%;
        }

    }

    .recommended{
        width: 100%; height: 58vw;
        border-top: 0.05vw solid $fontColor;

        .bold{
            font-weight: bold;
            font-size: 1.2vw;
        }

        .sources{
            font-size: 0.85vw;
            font-weight: bold;
            text-align: right;
        }

    }


}

#basicsInfo{
    width: 100%; height: 120vw;
    padding: 0 5%;

    .basics{
        width: 100%; height: 20vw;
        border-bottom: 0.05vw solid $fontColor;

        h4{
            margin-top: 3%;
        }

        span{
            margin-right: 1%;
        }
    }


}

#delivery{
    width: 100%; height: 65vw;
    padding: 0 5%;

    table{
        width: 100%; height: 55vw;
        border: 0.15vw solid $fontColor;
        margin-top: 3%;

        tr{
            width: 100%;
            border-bottom: 0.05vw solid $fontColor;
        }

        th{
            width: 25%; height: 20%;
            background-color: $fontColor;
            font-family: $titleFont;
            font-size: 1.2vw;
            color: #fff;
        }

        td{
            width: 60%; height: 20%;
            border: 0.05vw solid $fontColor;
            font-family: $mainFont;
            font-size: 1vw;
            padding: 0 3%;
        }

        li{
            list-style-type: square;
            margin: 1% 0;
        }

        .decoNone{
            list-style: none;
            margin-top: 3%;
        }
    }
}



//구매자 & 평점 분포
#distribution{
    width: 100%; height: 30vw;
    background-color: $fontColor;
    margin-top: 5%;

    #distribution_box{
        width: 90%; height: 100%;
        margin: 0 auto;
        display: flex;
    }
}

#purchaser{
    width: 50%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    h3{
        font-family: $titleFont;
        text-align: center;
        font-size: 2.5vw;
        color: #fff;
        margin-top: 0.5vw;
    }

    #buyers{
        width: 100%; height: 85%;
        display: flex;
    }

    .female_age{
        width: 45%; height: 100%;

        .female{
            width: 100%; height: calc(100% / 6);
            display: flex;
            justify-content: flex-end;
            align-items: center;

            span{
                font-family: $mainFont;
                font-size: 0.8vw;
                color: #fff;
                margin-right: 0.8vw;
            }

            .background{
                width: 65%; height: 35%;
                background-color: #fff;
                position: relative;
            }

            .graph{
                height: 100%;
                position: absolute;
                top: 0; right: 0;
                background-color: $pink;
                transform-origin: 100% 0;
                transform: scaleX(0);
                transition: all 0.5s ease-in-out;
            }

            .fe10{
                width: 3.4%;
            }

            .fe20{
                width: 33%;
            }

            .fe30{
                width: 24.2%;
            }

            .fe40{
                width: 14.6%;
            }

            .fe50{
                width: 8.4%;
            }

            .fe60{
                width: 0.5%;
            }
        }
    }

    .age{
        width: 10%; height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        span{
            font-family: $mainFont;
            font-size: 1.2vw;
            color: #fff;
        }
    }

    .male_age{
        width: 45%; height: 100%;

        .male{
            width: 100%; height: calc(100% / 6);
            display: flex;
            justify-content: flex-start;
            align-items: center;

            span{
                font-family: $mainFont;
                font-size: 0.8vw;
                color: #fff;
                margin-left: 0.8vw;
            }

            .background{
                width: 65%; height: 35%;
                background-color: #fff;
                position: relative;
            }

            .graph{
                height: 100%;
                position: absolute;
                top: 0; left: 0;
                background-color: $blue;
                transform-origin: 0 100%;
                transform: scaleX(0);
                transition: all 0.5s ease-in-out;
            }

            .male10{
                width: 0.7%;
            }

            .male20{
                width: 5.4%;
            }

            .male30{
                width: 5.2%;
            }

            .male40{
                width: 2.9%;
            }

            .male50{
                width: 1.4%;
            }

            .male60{
                width: 0.2%;
            }
        }
    }
}

#ratings{
    width: 50%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    h3{
        font-family: $titleFont;
        text-align: center;
        font-size: 2.5vw;
        color: #fff;
        margin-top: 2%;
    }

    .avgStar{
        width: 100%; height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5% 0 0;

        .stars{
            width: 28%; height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            img{
                width: 2vw;
                margin: 0 0.3vw 0.3vw 0;
            }
        }

        span{
            font-family: $titleFont;
            font-size: 2vw;
            color: $yellow;
        }
    }

    .graph_box{
        width: 100%; height: 70%;

        .ratings{
            width: 100%; height: calc(100% / 5.5);
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .star{
                width: 9vw; height: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-left: 8vw;
                
                img{
                    width: 1.5vw;
                }
            }

            .background{
                width: 15vw; height: 35%;
                background-color: #fff;
                position: relative;
                margin: 0 1.5vw;

                .graphs{
                    height: 100%;
                    background-color: $yellow;
                    position: absolute;
                    top: 0; left: 0;
                    transform-origin: 0 100%;
                    transform: scaleX(0);
                    transition: all 0.5s ease-in-out;
                }

                .star5{
                    width: 80%;

                }

                .star4{
                    width: 0%;
                }

                .star3{
                    width: 20%;
                }

                .star2{
                    width: 0%;
                }
                
                .star1{
                    width: 0%;
                }
            }

            span{
                font-family: $mainFont;
                font-size: 1vw;
                color: #fff;
            }
        }
    }
}



// 댓글
#comments{
    width: 100%; height: 12.5vw;
    margin-top: 5%;

    #comments_box{
        width: 90%; height: 100%;
        margin: 0 auto;
        border-bottom: 0.15vw solid $fontColor;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;

        h3{
            font-family: $titleFont;
            font-size: 2.5vw;
        }
    }
}

#comment_input{
    width: 80%; height: 10vw;

    .review_star{
        width: 74%; height: 25%;
        margin: 1% auto 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        img{
            width: 1.5vw;
            cursor: pointer;
        }

        span{
            font-family: $mainFont;
            font-weight: bold;
            font-size: 1vw;

            i{
                border: 0.05vw solid $fontColor;
                padding: 0.15vw 0.25vw; 
                cursor: pointer;
            }
        }

        .reviewStar{
            width: 20%; height: 60%;
            position: relative;

            .blank{
                width: 100%; height: 100%;
                position: absolute;
                top: 0; left: 0;
            }

            .fill{
                width: 100%; height: 100%;
                position: absolute;
                top: 0; left: 0;
                z-index: -1;

                img{
                    opacity: 0;
                }
            }
        }

        .textbox{
            width: 25vw; height: 24vw;
            background-color: #fff;
            border: 0.1vw solid $fontColor;
            position: absolute;
            top: 85%; right: 0%;
            padding: 0 0.8vw;
            display: none;

            i{
                position: absolute;
                top: 2.5%; right: 3%;
                font-size: 1.2vw;
                border: 0.1vw solid $fontColor;
                padding: 0 0.3vw;
            }

            h4{
                font-family: $titleFont;
                font-size: 1.2vw;
                text-align: center;
                padding-bottom: 3%;
                margin: 5% 0;
                border-bottom: 0.1vw solid $fontColor;
            }

            p{
                font-family: $mainFont;
                font-size: 0.8vw;
                margin-bottom: 3%;
                padding: 0 0.2vw;
            }

            ol{
                margin-top: 5%;
                padding-left: 1vw;
            }

            li{
                list-style: decimal;
                font-family: $mainFont;
                font-size: 0.8vw;
                margin-bottom: 3%;
                padding: 0 0.2vw;
            }
        }
    }

    .reviewInput{
        width: 80%; height: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        textarea{
            width: 80%; height: 80%;
            border: 0.15vw solid $fontColor;
            margin-right: 0.2%;
            font-family: $mainFont;
            font-size: 1vw;
            padding: 0.5vw;
        }

        textarea:focus{
            outline: none;
        }

        input[type="submit"]{
            width: 12%; height: 80%;
            font-family: $mainFont;
            font-size: 1vw;
            background-color: $fontColor;
            color: #fff;
            border: none;
            border-radius: 0;
            margin-left: 0.2%;
            cursor: pointer;
        }
    }
}

#reviews{
    width: 100%; height: auto;
    padding-bottom: 3vw;
    margin-top: 3%;

    #reviews_box{
        width: 80%; height: 100%;
        margin: 0 auto;
    }

    .review{
        width: 100%; height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1vw 0;
        border-bottom: 0.1vw solid $fontColor;

        &:first-of-type{
            border-top: 0.1vw solid $fontColor;
        }

        .starScore{
            width: 13%; height: 34%;

            img{
                width: 1.5vw;
            }
        }

        .reviewText{
            width: 70%; height: 100%;
            p{
                width: 100%; height: auto;
                font-family: $mainFont;
                font-size: 0.9vw;
            }

            .netizen{
                width: 100%; height: 3.6vw;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                .netizenInfo{
                    width: 20%; height: 50%;

                    span{
                        font-family: $mainFont;
                        font-size: 0.8vw;
                        margin-right: 3%;
                    }
    
                }

                .thumb{
                    width: 6%; height: 80%;
                    position: relative;

                    .fa-thumbs-up{
                        position: absolute;
                        font-size: 1.5vw;
                        background-color: $fontColor;
                        padding: 0.7vw;
                        color: #fff;
                        border-radius: 6vw;
                    }
    
                    .fa-regular{
                        display: block;
                    }
    
                    .fa-solid{
                        display: none;
                    }
                }
            }
        }
    }
}

